aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
Beaker==1.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
blivet==3.7.1
blivet-gui==2.4.2
Brlapi==0.8.4
cachetools==5.3.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.2
configparser==6.0.0
construct==2.10.68
contourpy==1.1.0
cryptography==37.0.2
cson==0.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.3.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
envycontrol==3.3.0
evdev==1.6.1
executing==1.2.0
exif==1.6.0
fastjsonschema==2.16.2
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.42.1
fqdn==1.5.1
fros==1.1
google-auth==2.16.1
google-auth-oauthlib==1.0.0
gpg==1.17.1
gssapi==1.7.3
guake==3.7.0
humanize==3.13.1
idna==3.4
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.7.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
kiwisolver==1.4.5
koji==1.33.0
langtable==0.0.63
libcomps==0.1.18
lutris==0.5.13
lxml==4.9.2
Mako==1.2.3
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mistune==2.0.5
moddb==0.8.1
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
nftables==0.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.4
nvautoinstall==0.4.1
oauthlib==3.2.2
olefile==0.46
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.2
pbr==5.10.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.4.0
platformdirs==3.0.0
plum-py==0.8.5
ply==3.11
productmd==1.36
progressbar2==3.53.2
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.6
protontricks==1.10.5
protonup==0.1.5
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeam==0.7
pycairo==1.23.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.12.2
Pygments==2.14.0
PyGObject==3.44.1
pyinotify==0.9.6
pykickstart==3.47
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
pypresence==4.3.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrate-limiter==3.1.0
pyrsistent==0.19.3
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-json-logger==2.0.6
python-Levenshtein==0.12.0
python-meh==0.51
python-utils==3.3.3
python-xlib==0.33
pytz==2023.3.post1
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.0
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpm==4.18.1
rpmautospec==0.3.5
rpmlint==2.4.0
rsa==4.9
scour==0.38.2
selinux==3.5
Send2Trash==1.8.0
sepolicy==3.5
setools==4.4.3
shtab==1.5.8
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
solaar==1.1.9
sos==4.5.1
soupsieve==2.4.1
speg==0.3
stack-data==0.6.2
systemd-python==235
Tempita==0.5.2
termcolor==1.1.0
terminado==0.17.1
tinycss2==1.2.1
tldr==3.2.0
tomli_w==1.0.0
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
types-PyYAML==6.0.12.8
types-requests==2.28.11.15
types-urllib3==1.26.25.8
ulauncher==5.15.3
undervolt==0.3.0
uri-template==1.2.0
urllib3==1.26.16
vdf==3.4
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
y-py==0.5.9
ypy-websocket==0.8.2
zstandard==0.21.0
